@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .-rotate-y-180 {
    transform: rotateY(-180deg);
  }
}